@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}
.main{
  font-family: 'Roboto', sans-serif;
  
}
margin-not-last> * + *{
  margin-right: 12px;
}
.container {
  display: flex;
}
.border-special{
  border-top:2px solid rgba(0, 0, 0, 0.11);
}
.container__sidebar {
  


}
.hidden-conditional{
display:block;
}
.circle{
border-radius:50%;
}
.scrollbar-none::-webkit-scrollbar{
display:none
}

scrollbar-none{
-ms-overflow-style: none;
scrollbar-width: none
}
.container__main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  
  

}
* {
  box-sizing: border-box;
}

@media (max-width: 1000px){
hidden-conditional{
display:none
}
}
